<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf4.jj_shipping.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="Order">
    <id column="o_id" jdbcType="INTEGER" property="oId" />
    <result column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="box_id" jdbcType="INTEGER" property="boxId" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="totalmoney" jdbcType="VARCHAR" property="totalmoney" />
  </resultMap>
  <sql id="Base_Column_List">
    o_id, s_id, box_id, state, totalmoney
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where o_id = #{oId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where o_id = #{oId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Order">
    insert into t_order (o_id, s_id, box_id, 
      state, totalmoney)
    values (#{oId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{boxId,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR}, #{totalmoney,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Order">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        o_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="boxId != null">
        box_id,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="totalmoney != null">
        totalmoney,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="oId != null">
        #{oId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="boxId != null">
        #{boxId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="totalmoney != null">
        #{totalmoney,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Order">
    update t_order
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="boxId != null">
        box_id = #{boxId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="totalmoney != null">
        totalmoney = #{totalmoney,jdbcType=VARCHAR},
      </if>
    </set>
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Order">
    update t_order
    set s_id = #{sId,jdbcType=INTEGER},
      box_id = #{boxId,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR},
      totalmoney = #{totalmoney,jdbcType=VARCHAR}
    where o_id = #{oId,jdbcType=INTEGER}
  </update>
</mapper>