<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf4.jj_shipping.dao.ShipinfoMapper">
  <resultMap id="BaseResultMap" type="Shipinfo">
    <id column="lid" jdbcType="INTEGER" property="lId" />
    <result column="sid" jdbcType="INTEGER" property="sId" />
    <result column="beginid" jdbcType="INTEGER" property="beginId" />
    <result column="endid" jdbcType="INTEGER" property="endId" />
    <result column="begintime" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endTime" />
    <result column="paystatus" jdbcType="VARCHAR" property="payStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    l_id, s_id, begin_id, end_id, begin_time, end_time, pay_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shipinfo
    where l_id = #{lId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_shipinfo
    where l_id = #{lId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Shipinfo">
    insert into t_shipinfo (l_id, s_id, begin_id, 
      end_id, begin_time, end_time, 
      pay_status)
    values (#{lId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{beginId,jdbcType=INTEGER}, 
      #{endId,jdbcType=INTEGER}, #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{payStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Shipinfo">
    insert into t_shipinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        l_id,
      </if>
      <if test="sId != null">
        s_id,
      </if>
      <if test="beginId != null">
        begin_id,
      </if>
      <if test="endId != null">
        end_id,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lId != null">
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="beginId != null">
        #{beginId,jdbcType=INTEGER},
      </if>
      <if test="endId != null">
        #{endId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Shipinfo">
    update t_shipinfo
    <set>
      <if test="sId != null">
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="beginId != null">
        begin_id = #{beginId,jdbcType=INTEGER},
      </if>
      <if test="endId != null">
        end_id = #{endId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where l_id = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Shipinfo">
    update t_shipinfo
    set s_id = #{sId,jdbcType=INTEGER},
      begin_id = #{beginId,jdbcType=INTEGER},
      end_id = #{endId,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      pay_status = #{payStatus,jdbcType=VARCHAR}
    where l_id = #{lId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultType="com.zzf4.jj_shipping.vo.VoShipInfos">
    select si.lid,b.bname,e.ename,s.*,si.begintime,si.endtime,si.paystatus from t_shipinfo si
    INNER JOIN t_ship s on si.sid= s.sid
    INNER JOIN t_begin b on si.beginid=b.beginid
    INNER JOIN t_end e on si.endid=e.endid
  </select>
</mapper>