<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzf4.jj_shipping.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.zzf4.jj_shipping.entity.User">
    <id column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="E_mail" jdbcType="VARCHAR" property="eMail" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="power" jdbcType="VARCHAR" property="power" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, E_mail, company, name, tel, password, power
  </sql>

  <select id="find" parameterType="int" resultType="User">
    select * from t_user where u_id = #{id}
  </select>

</mapper>